<div class="watchlist_index_page">
<h1>Your Watchlist Categories</h1>
<%= link_to "Create a New Watchlist", new_user_watchlist_path(current_user.id) %>
</div>
<br><br>

<div id="watchlists_index_links">
<% if current_user.watchlists.any? %>
<% watchlists_by_user.each do |wl| %>
    <h2><%= link_to wl.category_type, user_watchlist_path(current_user.id, wl.id) %></h2>
    <ul><li>This Watchlist currently has <%= pluralize(wl.movies.count, "Movie") %></li></ul>
<% end %>
<% else %>
    <h2>You have not created any watchlists yet.</h2>
<% end %>
</div>
