/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.topnav {
  cursor: url(popcorn_bucket.png), auto;
}

 div#header_images {
    display: flex;
    justify-content: space-between;
    height: 10vh;
 }

 .third_party_login_links {
   text-align: center;
 }

 .header {
    background-color: white;
    text-align: center;
    font-size: 35px;
    padding: 5px;
    border-bottom: 5px solid black
  }

  /* The navbar container */
 .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd!important;
    color: black;
    cursor: url(popcorn_bucket.png), auto;
  }

  body {
    background-color: white;
    width: auto;
    height: auto;
    border: 10px solid black;
    padding: 35px;
    margin: 20px;
  }

  .content {
    padding-left: 25%;
    padding-right: 25%;
    width: 200px;
  }
  
  .footer {
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

 .flash {
    border-radius: 4px;
    background-color:#e03620;
    padding: 14px 20px;
    display: table;
    font-size: 125%;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
  }

  div#error_explanation {
    padding: 5px;
    color: #e03620;
  }

  a {
    text-decoration: none;
    color: black;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #e03620;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: auto;
  }
  
  input[type=submit]:hover {
    background-color: #ddd!important;
    color: black;
    }
  
  #delete_button {
    width: 20%;
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: auto;
  }

  h1.movie_index_and_show_page {
    text-align: center;
  }

  div.movie_index_and_show_page h1 {
    text-align: center;
  }

  .movie_index_and_show_page img {
    display: table;
    margin-left: auto;
    margin-right: auto;
    flex: auto;
    border: 5px solid black;
}

  .search_movie_link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  div#movie_poster {
    /* border: thick;
    border: black;
    border: solid;    */
    display: table; 
    margin-left: auto;
    margin-right: auto;
  }

  #movie_poster img {
    border: 10px solid black;
    padding: 10px;
  }
 
  div.watchlist_show_page {
      text-align: center;
  }

  div.watchlist_show_page a {
    width: 25%;
    color: black;
  }

  div.watchlist_index_page {
      text-align: center
  }

  div.watchlist_index_page a {
    width: 25%;
    color: black;
  }

  div#watchlists_index_links a {
    color: black;
  }

  div.review_index_page {
    text-align: center;
 }

 div.review_new_page {
  text-align: center;
}

div.watchlist_new_page {
  text-align: center;
}

div.review_edit_page {
  text-align: center;
  padding: 0px;
}

 div.review_index_page a {
  width: 25%;
  color: black;
 }

 div#reviews_index_links a {
  color: black;
 }

 h1#show_page {
   text-align: center;
 }

 div#movie_suggestions {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

#movie_suggestions img {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  height: 450px;
  width: 300px;
  border: 10px solid black;
  padding: 10px;
  margin: 10px;
}

 #movie_suggestions a:hover{
  cursor: url(popcorn_bucket.png), auto;
 }

 #movie_suggestions h2 {
   text-align: center;
 }

