<div class="review_index_page">
<h1>Your Movie Reviews</h1>
</div>

<br>
<div id="reviews_index_links">
<% if @reviews.present? %>
<% @reviews.each do |review| %>
    <h2><%= link_to review.movie.Title, movie_path(review.movie.id) %></h2>
    <ul>
    <li><%= review.rating %> stars </li>
    <li><%= review.description %></li>
    </ul>
    <br>
<% end %>
<% else %>
    <h3>You have not created any reviews yet.</h3>.
    <h3><%= link_to "Create a Review", new_review_path %></h3>
<% end %>
</div>